body{
	font-family: Tahoma, Geneva, sans-serif;
}
h1{
	color: CornflowerBlue;
	font-size: 40px;
	letter-spacing: 2px;
}
input[type=text], input[type=password]{
	border-radius: 4px;
	padding: 8px 12px;
}
input[type=button], input[type=submit] {
    background-color: CornflowerBlue;
    border: none;
    color: white;
	font-family: Tahoma, Geneva, sans-serif;
    padding: 8px 12px;
    text-decoration: none;
    margin: 6px 4px;
    cursor: pointer;
	border-radius: 4px;
}
a{
	text-decoration: none;
}